%header
  %img.storm(src='assets/storm_logo.png' alt='grey storm logo')
  %img.lightning(src='assets/storm_logo_white.png' alt='white storm logo')
  %h1.logo(data-shadow='brainstorm') brainsto.rm
.index-container
  .new-or-returning
    %form
      %p
        %label(for="player-name-reg") Please Register or Login:
        %input(id="register" type="button" value="REGISTER")
        %input(id="login" type="button" value="LOGIN")
  .register
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %p
        %label(for="player-name-reg") Player Name
        = f.text_field :name, autofocus: true, class: "text-input", id: "player-name-reg", name: "player-name-reg", type: "text"
        -# %input(class="text-input" id="player-name-reg" name="player-name-reg" type="text")
        %span.requirement-right Player name must have at least 5 characters
      %p
        %label(for="email") Player Email
        %span.requirement-left Invalid email address
        = f.email_field :email, class: "text-input", id:"email", type:"text"
        -# %input(class="text-input" id="email" name="email" type="email")
        -# <%= f.email_field :email, autofocus: true %>
        %span.requirement-right Keep going
      %p
        %label(for="confirm-email") Confirm Email
        = f.email_field :email, class: "text-input", id:"confirm-email", name: "confirm-email", type: "email"
        -# %input(class="text-input" id="confirm-email" name="confirm-email" type="email")
        %span.requirement-right Please confirm you email address
      %p
        = f.submit 'Register', id:"submit-register", type: "submit", value: "REGISTER"
        -# %input(id="submit-register" type="submit" value="REGISTER")
  .login
    %form(action="#" method="post")
    form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %p
        %label(for="player-name-login") Player Name
        %input(id="player-name-login" name="player-name-login" type="text")
        %span.requirement-right Enter your player name
      %p
        %input(id="submit-login" type="submit" value="LOGIN")
