!!! 5
%html.leaderboard(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content='width=device-width, initial-scale=1' name='viewport')
    %title brainsto.rm
    %link( href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans|Lato" rel="stylesheet")
    %link(rel="icon" type='image/png' href="images/storm_logo.png")
    %link(rel="stylesheet" href="libdev/styles/main.min.css")
%body.leaderboard
  - user = {user_name: 'Lindsey Adams', high_score: '12,000', email:'linzma87@gmail.com', twitter:'@turmerictotebag', instagram:'@lindsmadams'}
  - topPlayer = {user_name: 'Somebody Else', high_score: '20,000'}
  %header
    %img.storm(src='images/storm_logo.png' alt='grey storm logo')
    %img.lightning(src='images/storm_logo_white.png' alt='white storm logo')
    %h1.logo(data-shadow='brainstorm') brainsto.rm
    %nav.menu
      %ul.navbar
        %li.play
          %a.play(href='#') Play
        %li.leaderboard
          %a.leaderboard(href='#') Leaderboard
        %li.account
          %a.account(href='#') Account
        %li.logout
          %a.logout(href='#') Logout
  %section.leaderboard-container
    %div.header
      %img.award(src='images/award_icon.png' alt='award icon')
      %h3 Top Players
    %div.stats
      %ul.players
        %li.one
          %p.rank(data-id='rank') 1
          %p.player-name(data-id='user-name') #{user[:user_name]}
          %p.score(data-id='high-score')
            %span #{user[:high_score]}
        %li.two
          %p.rank(data-id='rank') 2
          %p.player-name(data-id='user-name') #{user[:user_name]}
          %p.score(data-id='high-score')
            %span #{user[:high_score]}
        %li.three
          %p.rank(data-id='rank') 3
          %p.player-name(data-id='user-name') #{user[:user_name]}
          %p.score(data-id='high-score')
            %span #{user[:high_score]}
        %li.four
          %p.rank(data-id='rank') 4
          %p.player-name(data-id='user-name') #{user[:user_name]}
          %p.score(data-id='high-score')
            %span #{user[:high_score]}
        %li.five
          %p.rank(data-id='rank') 5
          %p.player-name(data-id='user-name') #{user[:user_name]}
          %p.score(data-id='high-score')
            %span #{user[:high_score]}


%script(src='libdev/js/vendor.min.js')
%script(src='libdev/js/profile.js')
